@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #080e24;

  --primary-color: #76a4ff;
  --primary-color-light: #bdd2fd;
  --primary-color-dark: #080e24;

  --secondary-color: #ffc531;
  --secondary-color-light: #ffdf8e;
  --secondary-color-dark: #947118;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080e24;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 160px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color-light));
}

.primary-button {
  border-radius: 12px;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  border-style: none;
}
.primary-button:hover {
  background: var(--secondary-color);
  transition: 0.2s;
}
