@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #080e24;

  --primary-color: #76a4ff;
  --primary-color-light: #bdd2fd;
  --primary-color-dark: #080e24;

  --secondary-color: #ffc531;
  --secondary-color-light: #ffdf8e;
  --secondary-color-dark: #947118;

  --third-color: #969696;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080e24;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 { @apply text-4xl sm:text-5xl md:text-6xl font-bold; }
h2 { @apply text-2xl sm:text-3xl md:text-4xl font-bold; }
h3 { @apply text-xl sm:text-2xl md:text-3xl font-bold; }
h4 { @apply text-xl sm:text-2xl md:text-3xl font-bold; }
h5 { @apply text-lg sm:text-xl md:text-2xl font-bold; }
h6 { @apply text-base sm:text-lg md:text-xl font-bold; }

h2 {
  color: rgb(103, 102, 102);
  font-weight: 500;
}

p {
  color: rgb(103, 102, 102);
}
.logo {
  width: 160px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color-light));
}

.primary-button {
  border-radius: 12px;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  border-style: none;
}
.primary-button:hover {
  background: var(--secondary-color);
  transition: 0.2s;
}

.card-hourly-rate-blue {
  width: 700px;
  border-radius: 12px;
  background-color: var(--primary-color-light);
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card-hourly-rate-yellow {
  width: 700px;
  border-radius: 12px;
  background-color: var(--secondary-color-light);
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}